<form (ngSubmit)="onSave()" [formGroup]="form">
  <fieldset class="space-y-8 mb-6">
    <div class="flex flex-col">
        <label>Imię i nazwisko</label>
        <input type="text" pInputText formControlName="name" />
    </div>
    <div class="flex flex-col">
        <label>Numer telefonu</label>
        <input type="text" pInputText formControlName="phoneNumber" />
    </div>
  </fieldset>
  <div class="flex justify-end">
    <button label="Dodaj" pButton></button>
  </div>
</form>

<!--+---------------------------------------------+
| Dodaj nową wizytę                    [X]    |
+---------------------------------------------+
| 1. Klient                                  |
| +----------------------------------------+ |
| | Wyszukaj klienta... [🔍]               | |
| | [Dodaj nowego klienta]                 | |
| | Jan Kowalski, tel: 123-456-789         | |
| +----------------------------------------+ |
+---------------------------------------------+
| 2. Data i czas                             |
| +----------------------------------------+ |
| | [Kalendarz: 15-04-25]                  | |
| | [09:00] [09:30] [10:00] [10:30]        | |
| | Czas trwania: 1h 30min                 | |
| +----------------------------------------+ |
+---------------------------------------------+
| 3. Pracownik i usługi                      |
| +----------------------------------------+ |
| | Pracownik: [Anna Nowak ▼] [●]          | |
| |----------------------------------------| |
| | Usługi: [Manicure ▼] [Dodaj +]         | |
| | - Manicure | 1h | 120 zł | [🗑️]        | |
| | Łącznie: 1h, 120 zł                    | |
| +----------------------------------------+ |
+---------------------------------------------+
| 4. Płatność i rabaty (opcjonalne)          |
| +----------------------------------------+ |
| | [>] Rozwiń                             | |
| | ( ) Płatność w salonie                | |
| | [ ] Promocja: [10% ▼]                 | |
| +----------------------------------------+ |
+---------------------------------------------+
| 5. Notatki i powiadomienia                 |
| +----------------------------------------+ |
| | [Wpisz notatki...]                    | |
| | [✔] Wyślij potwierdzenie SMS/email     | |
| +----------------------------------------+ |
|                                            |
| [Anuluj] [Zapisz szkic] [Dodaj wizytę]    |
+---------------------------------------------+-->
