<form (ngSubmit)="onSave()" [formGroup]="form">
  <fieldset>
    <p-fluid class="space-y-5">
      <div class="flex flex-col">
        <label class="mb-2">Pracownik</label>
        <app-employee-selector
          [options]="employees"
          formControlName="employee"
        ></app-employee-selector>
      </div>
      <div class="flex flex-col">
        <label class="mb-2" for="serviceType">Typ usługi</label>
        <p-select
          [options]="serviceTypes"
          appendTo="body"
          formControlName="serviceType"
          inputId="serviceType"
        ></p-select>
      </div>
      <ng-container formGroupName="appointmentData">
        <div class="flex flex-col fluid">
          <label class="mb-2" for="appointmentDate">Data usługi</label>
          <p-datePicker
            (onSelect)="getAvailableTime()"
            [inline]="true"
            [minDate]="now"
            formControlName="date"
            inputId="appointmentDate"
          ></p-datePicker>
        </div>
        <div class="flex flex-col fluid">
          <label class="mb-2">Dostępne terminy</label>
          <app-time-picker [options]="availableTime" formControlName="time"></app-time-picker>
        </div>
      </ng-container>
    </p-fluid>
    <div class="flex flex-row gap-4 mt-5 justify-end">
      <button label="Umów się" pButton pRipple type="submit"></button>
      <button
        (click)="onCloseModal()"
        [outlined]="true"
        label="Zamknij"
        pButton
        pRipple
        type="button"
      ></button>
    </div>
  </fieldset>
</form>
