@let mode = viewMode();
<div
  [ngClass]="{ 'day-view': mode === CalendarViewMode.DAY, 'week-view': mode === CalendarViewMode.WEEK }"
  class="calendar-grid"
>
  @if (mode === CalendarViewMode.MONTH) {
    @for (day of weekdays(); track day) {
      <div class="day-name">{{ day }}</div>
    }
    @for (day of daysInView(); track day.date) {
      <div
        (click)="day.isCurrentMonth && slotClicked.emit({date: day.date})"
        [class.inactive]="!day.isCurrentMonth"
        class="day-cell"
      >
        <span class="day-number">{{ day.number }}</span>
        @for (event of (events() | eventsForDayFilter :day.date : selectedResource()); track event.id) {
          <div class="event">{{ event.time }} - {{ event.title }}</div>
        }
      </div>
    }
  } @else {
    <div class="time-column">
      <div class="time-header"></div>
      @for (hour of workingHours(); track hour) {
        <div class="time-slot">{{ hour }}</div>
      }
    </div>

    @for (day of daysInView(); track day.date) {
      <div class="day-column">
        <div class="day-name">
          {{ day.date | weekdayName : weekdays() }} {{ day.number }}
        </div>
        <div class="time-wrapper">
          @for (hour of workingHours(); track hour) {
            <div (click)="onSlotClicked(day.date, hour)" class="time-cell">
              @for (event of (events() | eventsFilter : day.date : hour : selectedResource()); track event.id) {
                <div class="flex flex-col shadow-sm rounded-xl pointer"
                     [style.margin-top.px]="event.time | extractMinutes"
                     [style.height.px]="event.duration">
                  <span
                    class="bg-purple-400 rounded-t-xl text-white text-shadow-sm font-bold px-4 py-1">{{ event.time }}
                    </span>
                  <span class="bg-purple-100 rounded-b-xl h-full px-4 pt-1">{{ event.title }}</span>
                </div>
              }
            </div>
          }

          @if (shouldShowTimeLine(day.date)) {
            <div [style.top.px]="currentTimePosition()" class="current-time-line"></div>
          }
        </div>
      </div>
    }
  }
</div>