@let mode = viewMode();
<pre>{{ events | json }}</pre>
<div class="calendar-container">
  <div class="calendar-header">
    <p-multiSelect
      [(ngModel)]="selectedResource"
      [options]="resources"
      class="resource-selector"
      optionLabel="name"
      optionValue="id"
      placeholder="Wybierz pracowników"
    ></p-multiSelect>

    <div class="controls">
      <div class="navigation">
        <p-button
          (click)="previousPeriod()"
          icon="pi pi-chevron-left"
          styleClass="p-button-text"
        ></p-button>
        <h2>
          @switch (mode) {
            @case ('month') {
              {{ currentMonthName() }} {{ currentYear() }}
            }
            @case ('week') {
              Tydzień {{ currentDate().getDate() }} {{ currentMonthName() }}
            }
            @case ('day') {
              {{ currentDate().getDate() }} {{ currentMonthName() }}
            }
          }
        </h2>
        <p-button
          (click)="nextPeriod()"
          icon="pi pi-chevron-right"
          styleClass="p-button-text"
        ></p-button>
      </div>
      <div class="view-toggle">
        <p-button
          (click)="setViewMode('day')"
          [class.active]="mode === 'day'"
          label="Dzień"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="setViewMode('week')"
          [class.active]="mode === 'week'"
          label="Tydzień"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="setViewMode('month')"
          [class.active]="mode === 'month'"
          label="Miesiąc"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ 'day-view': mode === 'day', 'week-view': mode === 'week' }"
    class="calendar-grid"
  >
    @if (mode === 'month') {
      @for (day of weekdays(); track day) {
        <div class="day-name">{{ day }}</div>
      }
      @for (day of daysInView(); track day.date) {
        <div
          (click)="day.isCurrentMonth && openSlotDialog(day.date)"
          [class.inactive]="!day.isCurrentMonth"
          class="day-cell"
        >
          day-number
          <span class="day-number">{{ day.number }}</span>
          @for (event of getEventsForDay(day.date); track event.id) {
            <div class="event">{{ event.time }} - {{ event.title }}</div>
          }
        </div>
      }
    } @else {
      <div class="time-column">
        <div class="time-header"></div>
        @for (hour of workingHours; track hour) {
          <div class="time-slot">{{ hour }}</div>
        }
      </div>

      @for (day of daysInView(); track day.date) {
        <div class="day-column">
          <div class="day-name">
            {{ weekdays()[day.date.getDay() === 0 ? 6 : day.date.getDay() - 1] }} {{ day.number }}
          </div>
          <div class="time-wrapper">
            @for (hour of workingHours; track hour) {
              <div (click)="openSlotDialog(day.date, hour)" class="time-cell">
                @for (event of getEventsForDayAndHour(day.date, hour); track event.id) {
                  <div class="event" [style.height.px]="60">
                    {{ event.title }}
                  </div>
                }
              </div>
            }

            @if (shouldShowTimeLine(day.date)) {
              <div [style.top.px]="currentTimePosition()" class="current-time-line"></div>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
