<div class="calendar-container">
  <div class="calendar-header">
    <p-multiSelect
      [(ngModel)]="selectedResource"
      [options]="resources"
      class="resource-selector"
      optionLabel="name"
      optionValue="id"
      placeholder="Wybierz zasób"
    ></p-multiSelect>

    <div class="controls">
      <div class="navigation">
        <p-button
          (click)="previousPeriod()"
          icon="pi pi-chevron-left"
          styleClass="p-button-text"
        ></p-button>
        <h2 *ngIf="viewMode() === 'month'">{{ currentMonthName() }} {{ currentYear() }}</h2>
        <h2 *ngIf="viewMode() === 'week'">
          Tydzień {{ currentDate().getDate() }} {{ currentMonthName() }}
        </h2>
        <h2 *ngIf="viewMode() === 'day'">{{ currentDate().getDate() }} {{ currentMonthName() }}</h2>
        <p-button
          (click)="nextPeriod()"
          icon="pi pi-chevron-right"
          styleClass="p-button-text"
        ></p-button>
      </div>
      <div class="view-toggle">
        <p-button
          (click)="setViewMode('day')"
          [class.active]="viewMode() === 'day'"
          label="Dzień"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="setViewMode('week')"
          [class.active]="viewMode() === 'week'"
          label="Tydzień"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="setViewMode('month')"
          [class.active]="viewMode() === 'month'"
          label="Miesiąc"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ 'day-view': viewMode() === 'day', 'week-view': viewMode() === 'week' }"
    class="calendar-grid"
  >
    <ng-container *ngIf="viewMode() === 'month'; else timelineView">
      <div *ngFor="let day of weekdays()" class="day-name">{{ day }}</div>
      <div
        (click)="day.isCurrentMonth && openSlotDialog(day.date)"
        *ngFor="let day of daysInView()"
        [class.inactive]="!day.isCurrentMonth"
        class="day-cell"
      >
        <span class="day-number">{{ day.number }}</span>
        <div *ngFor="let event of getEventsForDay(day.date)" class="event">
          {{ event.time }} - {{ event.title }}
        </div>
      </div>
    </ng-container>

    <ng-template #timelineView>
      <div class="time-column">
        <div class="time-header"></div>
        <div *ngFor="let hour of workingHours" class="time-slot">{{ hour }}</div>
      </div>

      <div *ngFor="let day of daysInView()" class="day-column">
        <div class="day-name">
          {{ weekdays()[day.date.getDay() === 0 ? 6 : day.date.getDay() - 1] }} {{ day.number }}
        </div>
        <div class="time-wrapper">
          <div
            (click)="openSlotDialog(day.date, hour)"
            *ngFor="let hour of workingHours"
            class="time-cell"
          >
            <div *ngFor="let event of getEventsForDayAndHour(day.date, hour)" class="event">
              {{ event.title }}
            </div>
          </div>
          <div
            *ngIf="shouldShowTimeLine(day.date)"
            [style.top.px]="currentTimePosition()"
            class="current-time-line"
          ></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
